<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgzK3MaKoyxRAmneEHGZC0_nFw76W43ng</string>
	<key>GCM_SENDER_ID</key>
	<string>907797882738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codbun.motiv.ai</string>
	<key>PROJECT_ID</key>
	<string>motiv-ai-b4cfe</string>
	<key>STORAGE_BUCKET</key>
	<string>motiv-ai-b4cfe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907797882738:ios:2619a49fd79210abc99feb</string>
</dict>
</plist>